<div class="row">
  <div class="col">
    <%= link_to 'New Post', new_post_path, class: "btn btn-success float-right" %>
  </div>
</div>

<div class="row">
  <div class="col" id="posts">
    <% @posts.each do |post| %>
      <%= render 'post', post: post %>
    <% end %>
  </div>
</div>
